
/* 全局范围 root */
:root {
	--blackfont: rgb(15,15,15);
	--darkfont: rgb(36, 36, 36);
	--lightfont: rgb(228, 226, 215);

	--darkbg:rgb(65, 22, 183);
	--lightbg:rgb(120, 215, 250);
	--whitebg:rgb(243, 243, 241);

	--white: rgb(255,255,255);
	--lightgray: rgb(212, 212, 212);
	--gray: rgb(162, 162, 162);
	--darkgray: rgb(78, 78, 78);

	--hd-height: 50px;
	--ft-height: 50px;
  }
  
* {
	box-sizing: border-box;
	padding: 0;
  }

  /*
  =========================================
  HTML tag
  =========================================
  */
  
  /* Style the body */
  body {
	position: relative;
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	font-size: 16px;
	margin: 0;
	background-color: var(--whitebg);
	color: var(--darkfont);
	/*background: url("../images/kingkong.gif") no-repeat top right;*/
  }

  a:link {
	text-decoration: none;
	color:var(--darkfont);
  }
  a:visited {
	text-decoration: none;
	color:var(--darkfont);
  }
  a:hover {
	text-decoration: underline;
  }

  p {
	margin: 0.5rem 0rem;
  }

  /*
  ============================================
  Custom Class by Layout
  ============================================
  */
  
  /* Header/logo Title */
  .header {
	display: flex;
	justify-content: space-between;
	align-items:center;
	height: var(--hd-height);
	padding: 5px;
	background: var(--darkbg);
	border-bottom: 1px solid var(--lightbg);
	overflow: visible;
  }

  .banner {
	max-width: 220px;
	font-size: 1.5em;
	color:var(--lightfont);
	/*border:1px solid greenyellow;*/
  }
  
  /* Style the top navigation bar */
  .navbar {
	width: 520px;
	/*
	position: absolute;
	right: 0;
	border:1px solid greenyellow;
	*/
	text-align: right;
  }
  
  /* Style the small screen navigation bar */
  .navbar-col
  , .navbar-col-items {
	display: none;
  }
  
  .navbar-col-menu {
	display: none;
	width: 2rem;
	height: 2rem;
	background-image: url('../images/menu.svg');
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  /* Style the navigation bar links */
  .navbar a {
	color: var(--lightfont);
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
	color: var(--darkfontfont);
	background-color: var(--whitebg);
	opacity: 0.6;
	transition: 0.1s;
  }

  .avatar {
	display: inline-block;
	background-color: var(--lightbg);
	width: 2rem;
	height: 2rem;
	line-height: calc(2rem - 4px);
	border: 2px solid var(--white);
	border-radius: 1rem;
	vertical-align: middle;
	text-align: center;
	margin: 0rem;
	color: var(--white);
	font-weight: bold;
	font-size: larger;
	text-transform: uppercase;
  }

  /* Layout */
  .body-section {
	min-height: calc(100vh - var(--hd-height) - var(--ft-height));
  }
  
  /* Column container */
  .row {  
	display: flex;
	flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side-section {
	flex: 25%;
	background-color: var(--whitebg);
	padding: 1rem;
  }
  
  /* Main column */
  .main-section {
	flex: 75%;
	padding: 1rem;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
	background-color: var(--lightfont);
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border-top-left-radius: 1rem ;
	border-bottom-right-radius: 1rem;
  }

  .artical-image-container {
	max-width: 100%;
	padding: 2rem;
	object-fit: cover;
  }

  .artical-container {
	max-width: 75%;
	padding: 1rem;
  }

  .minor-text {
	color: var(--gray);
	font-size: 0.8rem;
  }
  
  /* Footer */
  .footer {
	min-height: var(--ft-height);
	padding: 0.5rem 1rem;
	background: var(--darkbg);
	color: var(--lightfont);
	border-top: 3px solid var(--lightbg);
	text-align: center;
  }
  .footer a{
	color: var(--lightfont);
	padding: 0.5rem 1rem;
  }

/*====================================
specific styles for diff Pages
====================================*/

/* Home */
.home-bg {
	/*background-image: linear-gradient(45deg, rgba(249, 209, 255), rgba(253, 255, 186)) 
					, linear-gradient(45deg, rgba(253, 255, 186), rgba(205, 249, 255));
	opacity: 0.5;*/
	animation: chg-bg 1s linear 1s infinite alternate;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: top;
}
@keyframes chg-bg {
	0%   {background-image: linear-gradient(45deg, rgba(249, 209, 255, 1), rgba(253, 255, 186, 1)) 
							, linear-gradient(45deg, rgba(253, 255, 186, 0), rgba(205, 249, 255, 0));}
	10%   {background-image: linear-gradient(45deg, rgba(249, 209, 255, 0.9), rgba(253, 255, 186, 0.9)) 
							, linear-gradient(45deg, rgba(253, 255, 186, 0.1), rgba(205, 249, 255, 0.1));}
	20%   {background-image: linear-gradient(45deg, rgba(249, 209, 255, 0.8), rgba(253, 255, 186, 0.8)) 
							, linear-gradient(45deg, rgba(253, 255, 186, 0.2), rgba(205, 249, 255, 0.2));}
	30%   {background-image: linear-gradient(45deg, rgba(249, 209, 255, 0.7), rgba(253, 255, 186, 0.7)) 
							, linear-gradient(45deg, rgba(253, 255, 186, 0.3), rgba(205, 249, 255, 0.3));}
	40%   {background-image: linear-gradient(45deg, rgba(249, 209, 255, 0.6), rgba(253, 255, 186, 0.6)) 
							, linear-gradient(45deg, rgba(253, 255, 186, 0.4), rgba(205, 249, 255, 0.4));}
	50%   {background-image: linear-gradient(45deg, rgba(249, 209, 255, 0.5), rgba(253, 255, 186, 0.5)) 
							, linear-gradient(45deg, rgba(253, 255, 186, 0.5), rgba(205, 249, 255, 0.5));}
	60%   {background-image: linear-gradient(45deg, rgba(249, 209, 255, 0.4), rgba(253, 255, 186, 0.4)) 
							, linear-gradient(45deg, rgba(253, 255, 186, 0.6), rgba(205, 249, 255, 0.6));}
	70%   {background-image: linear-gradient(45deg, rgba(249, 209, 255, 0.3), rgba(253, 255, 186, 0.3)) 
							, linear-gradient(45deg, rgba(253, 255, 186, 0.7), rgba(205, 249, 255, 0.7));}
	80%   {background-image: linear-gradient(45deg, rgba(249, 209, 255, 0.2), rgba(253, 255, 186, 0.2)) 
							, linear-gradient(45deg, rgba(253, 255, 186, 0.8), rgba(205, 249, 255, 0.8));}
	90%   {background-image: linear-gradient(45deg, rgba(249, 209, 255, 0.1), rgba(253, 255, 186, 0.1)) 
							, linear-gradient(45deg, rgba(253, 255, 186, 0.9), rgba(205, 249, 255, 0.9));}
	100% {background-image: linear-gradient(45deg, rgba(249, 209, 255, 0), rgba(253, 255, 186, 0)) 
							, linear-gradient(45deg, rgba(253, 255, 186, 1), rgba(205, 249, 255, 1));}
}

.home-text-container{
	max-width: 35vw;
	min-width: 320px;
	margin-left: 5vw;
	padding: 1rem;
	color: var(--darkfont);
}
.home-text-hdr1 {
	font-size: 2rem;
	font-weight: bold;
	color: var(--darkfont);
	margin: 1rem 0rem;
}
.home-text-normal {
	font-size: 1.2rem;
	color: var(--darkfont);
	margin: 1rem 0rem;
}
.home-btn1 {
	min-width: 20rem;
	padding: 0.5rem 1rem;
	margin:2rem 1rem 1rem 0rem;
	background-color: var(--lightbg);
}
.home-btn2, .home-btn2:link, .home-btn2:visited {
	min-width: 20rem;
	padding: 0.5rem 1rem;
	margin:1rem;
	background-color: var(--darkbg);
	color: var(--lightfont);
}


.home-img {
	width: 50vw;
	height: 60vh;
	margin-top: 1rem;
	border: 5px solid var(--lightbg);
	border-radius: 1rem;
	background-image: url('../images/093434.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 3px 3px 1rem var(--darkgray);
}

  /* Note List Card Item */
  .note-card-container {
	display: flex;
	flex-wrap: wrap;
  }
  .noteitemcard {
	flex: 25%;
	min-width: 200px;
	max-width: 300px;
	border: 1px solid var(--darkfont);
	border-radius: 0.5rem 0.5rem 0.3rem 0.3rem;
	background: var(--white);
	opacity: 0.7;
	margin: 0.5rem;
	padding: 0rem;
  }

  .noteitemcard a:link {
	text-decoration: none;
  }

  .noteitemcard:hover {
	text-decoration: none;
	transform: scale(1.03, 1.03);
	box-shadow : 0px 0px 5px var(--gray);
	transition: 0.1s;
  }

  .noteitemcard:hover .card-title {
	text-decoration: none;
	background-color: var(--darkbg);
	border-bottom: 2px solid var(--darkbg);
	border-radius: 0.5rem 0.5rem 0 0;
	color: var(--lightfont);
	transition: 0.1s;
  }

  .noteitemcard:active {
	transform: scale(1, 1);
	background-color: none;
	box-shadow : none;
  }

  .card-title {
	border-bottom: 2px solid var(--lightgray);
	padding: 0.5rem; 
	font-weight: bold;
  }

  .card-data {
	padding: 0 1rem;
	max-height: 250px;
	overflow:hidden;
  }



  /* 
  ==================================================
  common shared class definition
  ==================================================
  */
  
  .flex-v-middle {
	display: flex;
	align-content: center;
	align-items:center;
  }
  .flex-h-middle {
	display: flex;
	justify-content: center;
  }

  .hideMe {
	display: none;
  }
  .showMeBox {
	display: block;
  }
  .showMeInline {
	display: inline;
  }
  
  /* 
  ===================================================
  Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other
  =================================================== 
  */
  @media screen and (max-width: 750px) {
	.row  {   
	  flex-direction: column-reverse;
	}
	.note {
		display: none;
	}
	
	.header {
		flex-direction: column;
		align-items: flex-start;
		height: auto;
	}
	
    /* Style the top navigation bar */
	.navbar {
		display: block;
		width: 100%;
	}
	.navbar a {
	  padding: 0.5rem 0.5rem;
	}

	/* Style the small screen navigation bar */
	.navbar-col {
		display: none;
		flex-direction: column;
		background-color: var(--darkbg);
		overflow: visible;
		/*
		小屏幕时主菜单字体左右对齐
		align-items:center/flex-start/flex-end;
		*/
	}
	.navbar-col-menu{
		display: block;
	}
	.navbar-col-items{
		display: flex;
		flex-direction: column;
		background-color: var(--darkbg);
		position: relative;
		top: 1rem;
	}


	.home-text-container
	,.home-img{
		width: 90%;
		max-width: none;
		min-width: none;
	}

	
	.artical-container {
		max-width: 100%;
		/*border: 1px solid green;*/
	}

  } /* end of @media*/